<div class="card-container">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Application Status</mat-card-title>
    </mat-card-title-group>
    <mat-card-content> </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Servers</mat-card-title>
    </mat-card-title-group>
    <mat-card-content> </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Health check counts</mat-card-title>
    </mat-card-title-group>
    <mat-card-content> </mat-card-content>
  </mat-card>
</div>
