<div class="content">

</div>
<h1 mat-dialog-title>Health Check Result</h1>
<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Application name #1</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions align="end">
  <button class="btn" mat-button mat-dialog-close>Close</button>
</div>
