.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-top: 8rem;
}

.example-card{
  margin-top: 5rem !important;
}

button{
  margin-top: 10rem !important;
}
