
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Mockup-primary: mat.define-palette(mat.$indigo-palette);
$Mockup-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Mockup-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Mockup-theme: mat.define-light-theme((
  color: (
    primary: $Mockup-primary,
    accent: $Mockup-accent,
    warn: $Mockup-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Mockup-theme);

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #F1F3F5;
}

.btn{
  background: #49d3ff;
  color: #1b1464;
  font-size: 1.1rem;
  width: 252px;
  height: 56px;
  border: none;
  margin-right: 3rem;
  border-radius: 5px;
  transition: all .2s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
  }
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
